{% extends 'layout.html' %}
{% block content %}
    <h1>Контакты</h1>
    <p>Если у вас есть вопросы, пожалуйста, свяжитесь с нами:</p>
    <ul>
        <li><i class="fab fa-whatsapp"></i> WhatsApp: +79149113332</li>
        <li><i class="fab fa-viber"></i> Telegram/телефон: +79149113332</li>
        <li><i class="far fa-envelope"></i> Telegram: https://t.me/LegionMining038</li>
        <li><i class="fas fa-map-marker-alt"></i> Адрес: г.Иркутск, пос.Молодёжный, ул.Солнечная д.1</li>
    </ul>
{% endblock %}
