{% extends 'layout.html' %}
{% block content %}
    <h1>Главная страница</h1>
    <p>SOVA MONITORING — это мощный инструмент для мониторинга ваших майнеров. Всё, что вам нужно, в одном месте.</p>
    <h2>Особенности:</h2>
    <ul>
        <li>Реальное время: следите за вашими майнерами в режиме реального времени.</li>
        <li>Уведомления: получайте мгновенные уведомления о статусе вашей фермы.</li>
        <li>Оптимизация: использование передовых алгоритмов для увеличения эффективности.</li>
    </ul>
    <p>Начните сейчас и убедитесь в эффективности SOVA MONITORING!</p>
{% endblock %}
