{% extends 'layout.html' %}
{% block content %}

<h1>Управление аккаунтом</h1>
<p>Если вы решите удалить свой аккаунт, процесс выполняется вручную нашей службой поддержки.</p>

<h2>Как удалить аккаунт:</h2>
<ol>
  <li>Напишите письмо с запросом на удаление на адрес <a href="mailto:rskyblue@yandex.ru">rskyblue@yandex.ru</a></li>
  <li>Укажите в письме ваше имя пользователя и причину, по которой вы хотите удалить аккаунт.</li>
  <li>Наша служба поддержки свяжется с вами для подтверждения запроса.</li>
  <li>После подтверждения ваш аккаунт будет удален.</li>
</ol>

<p>Пожалуйста, учтите, что после удаления аккаунта восстановить его будет невозможно. Все ваши данные будут безвозвратно утеряны.</p>

{% endblock %}
