{% extends "base.html" %}

{% block title %}Управление статусами - SOVA MONITORING{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">
                        <i class="fas fa-toggle-on me-2"></i>Управление статусами
                    </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Статусы устройств</h5>
                                </div>
                                <div class="card-body">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="statusActive" checked>
                                        <label class="form-check-label" for="statusActive">
                                            Активные устройства
                                        </label>
                                    </div>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="statusInactive">
                                        <label class="form-check-label" for="statusInactive">
                                            Неактивные устройства
                                        </label>
                                    </div>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="statusPending">
                                        <label class="form-check-label" for="statusPending">
                                            Ожидающие устройства
                                        </label>
                                    </div>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="statusError">
                                        <label class="form-check-label" for="statusError">
                                            Устройства с ошибками
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Статусы пользователей</h5>
                                </div>
                                <div class="card-body">
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="userActive" checked>
                                        <label class="form-check-label" for="userActive">
                                            Активные пользователи
                                        </label>
                                    </div>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="userInactive">
                                        <label class="form-check-label" for="userInactive">
                                            Неактивные пользователи
                                        </label>
                                    </div>
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="userSuspended">
                                        <label class="form-check-label" for="userSuspended">
                                            Заблокированные пользователи
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-4">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Настройки уведомлений</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-check form-switch mb-2">
                                                <input class="form-check-input" type="checkbox" id="notifyErrors" checked>
                                                <label class="form-check-label" for="notifyErrors">
                                                    Уведомления об ошибках
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-check form-switch mb-2">
                                                <input class="form-check-input" type="checkbox" id="notifyOffline">
                                                <label class="form-check-label" for="notifyOffline">
                                                    Уведомления о недоступности
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-check form-switch mb-2">
                                                <input class="form-check-input" type="checkbox" id="notifyPayments">
                                                <label class="form-check-label" for="notifyPayments">
                                                    Уведомления о платежах
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <button class="btn btn-primary btn-lg">
                                <i class="fas fa-save me-2"></i>Сохранить настройки
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 