{% extends 'layout.html' %}
{% block content %}
    <h1>Информация</h1>
    <p>SOVA MONITORING обеспечивает высокую степень удобства и эффективности при мониторинге ваших майнеров.</p>
    <h2>Технические характеристики:</h2>
    <ul>
        <li>Поддержка множества алгоритмов майнинга</li>
        <li>Совместимость с различными пулами майнинга</li>
        <li>Простой и интуитивно понятный интерфейс</li>
    </ul>
    <p>С SOVA MONITORING майнинг становится не только выгодным, но и удобным.</p>
{% endblock %}
